@import "./variables";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin header-style {
  font-family: $font-family;
  font-size: $font-size-header-category;
  font-weight: $font-weight-header-category;
  line-height: $line-height-discription-hit-btn-footer;
  color: $header-footer-color;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
// @mixin block($name) {
//   &__#{$name} {
//     @content;
//   }
// }

@mixin modifier($name) {
  &--#{$name} {
    @content;
  }
}

@mixin text-style($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin background-style($color) {
  background-color: $color;
}

@mixin button-style($bg-color, $text-color) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 242px;
  height: 40px;
  margin: 8px 24px;
  border-radius: 4px;
  background-color: $bg-color;
  color: $text-color;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

// @mixin card {
//   display: flex;
//   width: 306px;
//   height: 512px;
//   flex-direction: column;
//   flex-wrap: wrap;
//   background-color: $main-card-color;
//   align-content: center;
//   align-items: center;
//   justify-content: space-evenly;
//   border: 1px solid #a8a8a8;
// }
