@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

$header-color: #10bbd5;
$header-font-color: #000000;
$header-footer-color: #f8fdfe;
$main-color: #eeeeef;
$main-card-color: #ffffff;
$hit-color: #4200ff;
$new-color: #af39e7;
$sale-color: #ea33c0;
$btn-footer-color: #4c394e;
$btn-green-color: #4d762d;
$price-color: #e90000;
$price-sale-discription-color: #8e8e8e;
$main-font-color: #1f1f1f;

$font-family: Cabin, sans-serif;

$font-size-logo: 24px;
$font-weight-logo: 700;
$line-height-logo: 29px;

$font-size-header-category: 16px;
$font-weight-header-category: 400;

$font-size-header: 32px;
$font-weight-header: 600;
$line-height-header: 40px;

$font-size-card-name: 20px;
$font-weight-card-name: 700;
$line-height-card-name: 28px;

$font-size-discription-hit-btn-footer: 16px;
$font-weight-discription-hit-btn-footer: 400;
$line-height-discription-hit-btn-footer: 24px;

$font-size-price: 24px;
$font-weight-price: 500;
$line-height-price: 32px;
