@import "./bases";
@import "./mixin";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.header {
  @include center;
  background-color: $header-color;
  position: fixed;
  z-index: 1000;
  width: 100%;
  flex-direction: column;
  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Розміщує елементи по краях */
    align-items: center;
  }
  &__logo,
  &__price,
  &__cart-button {
    @include center;
  }
  &__cart-button {
    position: relative;
  }
  &__logo {
    height: 72px;
    justify-content: space-between;
    margin-right: auto;
  }
  &__price {
    margin: 0 20px;
    @include header-style;
  }
}
.cart-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Колір тексту */
  font-size: 14px; /* Розмір шрифту */
  font-weight: bold; /* Жирність шрифту */
}
.container {
  max-width: 1296px; /* Максимальна ширина контейнера */
  display: flex;
  flex-direction: column;
  padding: 0 52px;
}
.category {
  width: 1296px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 32px;
  font-family: $font-family;
  font-size: $font-size-header-category;
  font-weight: $font-weight-header-category;
  line-height: $line-height-discription-hit-btn-footer;
  color: $main-font-color;
  background-color: $main-card-color;
  padding: 0 52px;
  &__choice {
    @include flex-space-between;
    width: 295px;
  }
}
.main {
  padding-top: 104px;
  padding-bottom: 72px;
  &__header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $font-family;
    font-size: $font-size-header;
    font-weight: $font-weight-header;
    line-height: $line-height-header;
  }
}
.img {
  width: 178px;
  height: 280px;
}

/*book*/

.card-block {
  display: flex;
  // height: 1630px;
  flex-direction: column;
  align-items: center;
}

.card__container-row {
  display: flex;
  width: 1296px;
  justify-content: space-around;
  padding-top: 20px;
}

.card {
  display: flex;
  width: 306px;
  height: 512px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #a8a8a8;
  &__block {
    position: relative;
    border-top: 1px solid black;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;

    &-container {
      width: 242px;
      height: 96px;
    }
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 280px;
  }

  &__name {
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid #a8a8a8;
    width: 242px;
  }

  &__discription {
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8e8e8e;
  }

  &__price {
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #e90000;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 40px;
    margin: 8px 24px 8px 24px;
    border-radius: 4px;
    background-color: #4c394e;
    color: #f8fdfe;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__btn--green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 40px;
    margin: 8px 24px 8px 24px;
    border-radius: 4px;
    color: #f8fdfe;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #4d762d;
  }

  &-container-block {
    width: 242px;
  }

  &__img-proposal {
    &--hit,
    &--new,
    &--sale {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Cabin", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #f8fdfe;
      border-radius: 25%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &--hit {
      width: 36px;
      height: 32px;
      background-color: #4200ff;
    }

    &--new {
      width: 47px;
      height: 32px;
      background-color: #af39e7;
    }

    &--sale {
      width: 70px;
      height: 32px;
      left: 40px;
      background-color: #ea33c0;
    }
  }

  &__img-1,
  &__img-2,
  &__img-3,
  &__img-4,
  &__img-5,
  &__img-6,
  &__img-7,
  &__img-8,
  &__img-9,
  &__img-10,
  &__img-11,
  &__img-12 {
    display: flex;
    position: relative;
    justify-content: center;
    width: 242px;
    height: 280px;
  }
}
.chat-button {
  position: fixed;
  top: 496px;
  left: 1308px;
  background-color: $header-color;
  border-radius: 50%;
  z-index: 1000;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  background-color: #4c394e;

  &__container {
    display: flex;
    justify-content: space-between;
    font-family: Cabin;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__copyright {
    color: $header-footer-color;
  }
}
